import PropTypes from 'prop-types'
import React from 'react'
import styles from './{{ pascalCase componentName }}.module.scss'

function {{ pascalCase componentName }}({ text }) {
return <div className={styles['{{ dashCase componentName}}']}>{text}</div>
}

{{ pascalCase componentName }}.propTypes = {
text: PropTypes.string
}

export default {{ pascalCase componentName }}